@page
@model AgendamientoCitas.App.Frontend.Pages.Sedes.AddPrestadorDeServicioModel
@{
}
<h1>Adicionar prestador de servicio</h1>
<form method="post">
    <div class="form-group">
        <label for="idSede">Sede</label>
        <input type="text" id="idSede" name="idSede" class="form-control" value="@Model.sede.Id" readonly>
    </div>
    <div class="form-group">
        <label for="idPrestador">Prestador</label>
        <select id="idPrestadorDeServicio" name="idPrestadorDeServicio" class="form-control">
            @foreach (var prestador in Model.prestadoresDeServicio)
            {
                <option value="@prestador.Id">@prestador.RazonSocial</option>
            }
        </select>
    </div>
</form>