@page
@model AgendamientoCitas.App.Frontend.Pages.Sedes.DetailsModel
@{
}
<h1>Detalles de la sede</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.sede.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.sede.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Direccion</th>
        <td>@Model.sede.Direccion</td>
    </tr>
    <tr>
        <th scope="col">Telefono</th>
        <td>@Model.sede.Telefono</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>