@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--h1 class="display-4">Welcome</h1-->
    <p>Comprometidos con la salud de nuestros Usuarios Pueden acceder a nuestros servicios en las siguiente ciudades.</p>
</div>


    <div class="row">
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Armenia</h5>
                    <p class="card-text">Dirección</p>
                    <a href="#" class="btn btn-success">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Manizales</h5>
                    <p class="card-text">Dirección</p>
                    <a href="#" class="btn btn-success">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medellin</h5>
                    <p class="card-text">Dirección</p>
                    <a href="#" class="btn btn-success">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pereira</h5>
                    <p class="card-text">Dirección</p>
                    <a href="#" class="btn btn-success">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <form style="width: 72%!important; text-align: center!important; margin: auto!important;">
                <h3>Registro de Usuario</h3>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Ingrese su Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label">Ingrese su contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recordar contraseña</label>
                </div>
                <button type="submit" class="btn btn-success">Ingresar</button>
            </form>
        </div>
    </div>
