@page
@using AgendamientoCitas.App.Dominio
@model AgendamientoCitas.App.Frontend.Pages.Citas.EditModel
@{
}
<h1>Editar Cita</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="cita.Id"></label>
        <input asp-for="cita.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="cita.FechaHora"></label>
        <input asp-for="cita.FechaHora" class="form-control">
        <span asp-validation-for="cita.FechaHora" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.TipoServicio"></label>
        <select asp-for="cita.TipoServicio" asp-items="Html.GetEnumSelectList<TipoServicio>()" class="form-control">
        </select>
        <span asp-validation-for="cita.TipoServicio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Consultorio"></label>
        <input asp-for="cita.Consultorio" class="form-control">
        <span asp-validation-for="cita.Consultorio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Duracion"></label>
        <input asp-for="cita.Duracion" class="form-control">
        <span asp-validation-for="cita.Duracion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Valor"></label>
        <input asp-for="cita.Valor" class="form-control">
        <span asp-validation-for="cita.Valor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Paciente"></label>
        <select asp-for="cita.Paciente" asp-items="Html.GetEnumSelectList<Paciente>()" class="form-control">
        </select>
        <span asp-validation-for="cita.Paciente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Doctor"></label>
        <select asp-for="cita.Doctor" asp-items="Html.GetEnumSelectList<Doctor>()" class="form-control">
        </select>
        <span asp-validation-for="cita.Doctor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Encuesta"></label>
        <select asp-for="cita.Encuesta" asp-items="Html.GetEnumSelectList<Encuesta>()" class="form-control">
        </select>
        <span asp-validation-for="cita.Encuesta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cita.Sede"></label>
        <select asp-for="cita.Sede" asp-items="Html.GetEnumSelectList<Sede>()" class="form-control">
        </select>
        <span asp-validation-for="cita.Sede" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Editar prestador de servicio</button>
</form>
<a class="btn btn-secundary" asp-page="./Index">Volver</a>