@page
@model AgendamientoCitas.App.Frontend.Pages.PrestadoresDeservicio.IndexModel
@{
}
<h1>Listado prestadores de servicio</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Razon Social</th>
            <th scope="col">NIT</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prestadorDeServicio in Model.prestadoresDeServicios)
        {
           <tr>
               <td>@prestadorDeServicio.RazonSocial</td>
               <td>@prestadorDeServicio.Nit</td>               
               <td>@prestadorDeServicio.Telefono</td>
               <td>
                   <a class="btn btn-primary" asp-page="./Details" asp-route-id="@prestadorDeServicio.Id">
                    Detalle
                   </a>
               </td>
           </tr>   
        }
    </tbody>
</table>